---
layout: default
title: Projects
permalink: /projects/
---

<div class="container">
  <div class="row">
    <div class="col col-12">
      <h1 class="section__title projects-page__title">Projects</h1>
    </div>
  </div>
  <div class="row projects-grid animate">
    {% assign favorite_projects = site.projects | where: "favorite", true | sort: "date" | reverse %}
    {% if favorite_projects.size > 0 %}
      {% for post in favorite_projects %}
        {% include project-card.html %}
      {% endfor %}
    {% else %}
      <p>No projects yet.</p>
    {% endif %}
  </div>
</div>
