<!-- begin hero about -->
<section class="hero-about">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero-about__inner">
          <div class="hero-about__avatar">
            <img class="lazy" data-src="{{ site.author.author__avatar }}" alt="{{ site.author.author__name }}">
          </div>
          <div class="hero-about__content">
            <h1 class="hero-about__title">{{ site.author.author__name }}</h1>
            <p class="hero-about__bio">{{ site.author.author__bio }}</p>
            {% if site.hero.hero__caption %}
            <div class="hero-about__caption">
              <p class="hero-about__caption-text">{{ site.hero.hero__caption }}</p>
              {% if site.hero.hero__caption_date %}<p class="hero-about__caption-date">{{ site.hero.hero__caption_date }}</p>{% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero about -->
